[2021-07-16 11:17] neelgala opened #1 "support for intermediate run start points"
Currently the `riscof run` command starts always by creating a database of the suite, generating a test-list from it, and then running the tests. However the database generation and test-list generation are quite time consuming functions. While debugging bugs one would like to skip these everytime and simply start from the test-list itself.

Proposal:
To the `run` command add 2 more sub args: `--d

[2021-07-16 11:21] neelgala opened #2 "capture riscv-arch-test repo tag in report"
Since the framework and tests are now in different repos, the RISCOF run report must also include the tag/version of the riscv-arch-test repo.

To achieve this, during the `riscof run` command, we will check
- if the suite directory is a git repo
- if the repo is indeed the riscv-arch-test repo
- There are no changes/pending commits to the repo
- then collect the tag that has been checked out.

If

[2021-07-16 11:40] neelgala opened #3 "migration fixes"
As part of the migration from gitlab to github the following needs to be done on a high priority:

- [x] replace gitlab ci with github actions for auto release
- [x] remove hosted test-suite, cgf files and database files
- [x] make the suite and env args required for all sub commands
- [x] remove the generate_standard database command
- [x] update docs with correct and new links to riscof and risc

[2021-07-16 11:51] neelgala opened #4 "arch-test clone and maintenance subcommands"
since the framework and the tests are now in separate repos, it seems like a convenient feature to have riscof clone the correct repository from github. This way, a user simply needs to install riscof and run a subcommand to clone the correct version of the riscv-arch-test repo.

This should be implemented as a separate subcommand (maybe `riscof test-clone`). This sub-command  shuold be able to :

[2021-07-16 11:54] neelgala opened #5 "support for new RVTEST_ISA macro"
If this https://github.com/riscv/riscv-arch-test/issues/189 proposal is implemented, the RVTEST_ISA macro parser, the database yaml and possibly the test-list generation functions will have to be modified accordingly.

[2021-07-19 12:05] bilalsakhawat-10xe commented on #1
Hi @neelgala! Can you assign this issue to me?

[2021-07-19 12:10] neelgala commented on #1
@bilalsakhawat-10xe assigned to you. I would also suggest branching off from migration-fix branch.. that is a soon to be merged branch to master with some pretty large changes.

[2021-07-19 12:12] bilalsakhawat-10xe commented on #1
Thanks @neelgala. Sure I'll branch off from migration-fix branch.

[2021-07-22 11:10] neelgala opened #8 "change FXLEN macro to FLEN"
This needs to happen here : https://github.com/riscv/riscof/blob/f4ceecc87af6c98baff9886043690352c03f3d10/riscof/framework/test.py#L273-L276

[2021-07-23 10:12] SyoAnd opened #9 "Documentation Quickstart is out of date for 1.21.0"
When running _riscof testlist_  and _riscof run_ **suite** and **env** is required.
I fixed it by first running **riscof arch-test**
then running above comands with
**--suite=riscv-arch-test --env=riscv-arch-test/riscv-test-suite/env**

Which seems to be running fine. but i receive the following errors..

`
......

INFO | [--root--]: Generating database for suite: /home/user/riscof/riscv-arch-test

[2021-07-23 10:27] neelgala commented on #9
the suite argument should point to the riscv-test-suite/rv32i_m or riscv-test-suite/rv64i_m directory as mentioned in the doc [here](https://riscof.readthedocs.io/en/stable/arch-tests.html#running-tests-with-riscof). So the command sequence should be :

[code]
By default riscof parses recursively in the path pointed by `--suite`. It looks for any/all .S files and checks if they match the test-form

[2021-07-23 11:54] SyoAnd opened #10 "Connect Riscof to SweRV EH2 core"
How would I use riscof to validate the SweRV RH2 core from Western Digital?
https://github.com/chipsalliance/Cores-SweRV-EH2

I expect that I have to use an EDA tool, like Cadence Xcelium, but I have no idea how to connect riscof to it.
Maybe I am blind, but the documentation mentions the ability to validate RTL code many times but does never state how to do it.

Currently, I have a working Riscof

[2021-07-23 12:14] pawks commented on #10
Anything which can be run via the command line and doesn't need a GUI to be used can be used with riscof. The plugins for SAIL and SPIKE write out Makefiles at `riscof-work/Makefile.<name>` which are then used to actually run the tests on the core and generate signatures. Something similar can be done for any RTL/simulator.

The readme in the SweRV repository shows that there is support for genera

[2021-07-23 15:58] neelgala commented on #10
You can also refer to the chromite-core plugin [here](https://gitlab.com/incoresemi/riscof-plugins/-/tree/master/chromite) which should work with the latest riscof version. It has a readme and the plugin files are also well commented. It should provide a decent starting point.

[2021-07-26 03:30] #3 closed

[2021-07-30 05:43] neelgala opened #11 "changes in report format"
1. - [ ] The current html report must be named: <instanceID>-<test-date>.html . Where <test-date> is in YYYY-MM-DD format using GMT as the time zone. <instanceID> can be a concatenation of the vendor and device strings from the isa yaml. Use underscore for delimiter in concatenation.
2. - [ ] mvendorid and mimpids from the isa yaml also need to be captured in the report as well as part of the top

[2021-08-03 08:42] neelgala commented on #8
fixed in #12

[2021-08-03 08:42] #8 closed

[2021-08-03 08:42] neelgala commented on #1
fixed in #12

[2021-08-03 08:42] #1 closed

[2021-08-12 08:54] pawks opened #13 "Add hartid argument to cli."
It is currently assumed that the hartid being tested is `0`. This should be an argument in the cli to enable testing harts with other hartid values.

[2021-08-13 05:07] haseebazaz-10xe commented on #10
I am integrating SweRV-el2 to run with riscof environment taking chromite as reference. I created a directory in riscof-plugins with all the files creating according to SweRV-el2 like config.ini, env, isa, platform and python file too and in core I was also able to create executable but when run core with riscof environment I get error that some memory file is missing. I also looked into chromite

[2021-08-13 05:50] pawks commented on #10
The SweRV repo might be a better to place to ask this question. I had a quick glance over at the [makefile](https://github.com/chipsalliance/Cores-SweRV-EH2/blob/a95fdb81ea6dc19239cfe2953ef00710a6f1cf2a/tools/Makefile#L154) in the repository and looks like the SweRV core does not require a `boot.mem` file. The compiled binary can be directly executed on the core.

[2021-08-14 14:30] pawks opened #14 "Decrease Coverage collection time."
The normalisation of cgf in ISAC is a resource intensive process which currently dominates the time taken to report coverage. The normalisation can be performed by riscof and the output of the normalised cgf can be written down in the work directory. This file can then used to compute coverage in the plugin and the arguments passed to the plugins can reflect this file path.

[2021-08-14 14:32] #9 closed

[2021-08-30 13:22] kaddkaka opened #16 "Missing dependency: `device-tree-compiler`"
I'm following the [installation guide](https://riscof.readthedocs.io/en/stable/installation.html), but there seems to be dependencies missing form the instructions.

The step `apt-get install device-tree-compiler` as mentioned at https://github.com/riscv/riscv-isa-sim#build-steps is missing.

[2021-08-30 13:59] kaddkaka commented on #16
Also, I couldn't not build spike with clang12 (got warnings in boost source code). But building with gcc worked fine.

Example error from clang build:

[code]

[2021-08-30 15:02] kaddkaka opened #17 "riscof validateyaml: ruamel yaml reader choking on special character"
When trying to `riscof validateyaml --config=config.ini`([here](https://riscof.readthedocs.io/en/stable/installation.html#running-riscof)) with the template ini file generated by `riscof setup --dutname=spike` ([here](https://riscof.readthedocs.io/en/stable/installation.html#create-neccesary-env-files)) I get the following error:

[code]

This corresponds to the `’` at `~/.local/lib/python3.6/site

[2021-08-30 15:24] kaddkaka opened #18 "Quickstart: riscof testlist: argument requirements unclear"
According to https://riscof.readthedocs.io/en/stable/installation.html#running-riscof `riscof testlist` doesn't need the arguments `--suite` and `--env` but this seems to be incorrect since the command `riscof testlist --config=config.ini` results in this output:

[code]

But as you see the help text is a bit of a mix, both listing them as required *and* optional.

[2021-08-30 15:41] neelgala commented on #17
what version of riscv-config are you using ? `riscv-config --version`

[2021-08-30 15:47] neelgala commented on #18
@kaddkaka Yes the quickstart is a little dated. We are working improving the docs on [this](https://github.com/riscv/riscof/tree/plugin-doc-update) branch. Will have them updated and merge soon.

Also the help-command doesn't yet distinguish between required and non-required arguments. I think we will be moving to click based cli to ensuer a better help screen.

[2021-08-30 15:50] neelgala commented on #16
I have pushed a fix for the docs on [this](https://github.com/riscv/riscof/tree/plugin-doc-update) branch. Will be merging soon.

Regarding spike with clang build,  I guess that is a question best posted at the riscv-isa-sim repository.

[2021-08-30 17:18] neelgala commented on #18
https://riscof.readthedocs.io/en/plugin-doc-update/installation.html#quickstart following this should solve your problems

[2021-09-06 07:39] kaddkaka commented on #17
[code]

[2021-09-07 12:02] kaddkaka commented on #18
Thanks @neelgala this updated documentation suggests this command:

`riscof testlist --config=config.ini --suite=riscv-arch-test/riscv-test-suite/ --env=riscv-arch-test/riscv-test-suite/env`

But what path is actually `--suite=riscv-arch-test/riscv-test-suite/` ? For example for the spike template, what should the command look like?

`riscof testlist --config=config.ini --suite=??? --env=spike/env

[2021-09-10 15:20] neelgala commented on #18
the branch with docs has been merged . Closing this issue.

[2021-09-10 15:20] #18 closed

[2021-09-10 15:24] neelgala commented on #17
well.. I am not able to replicate this error at my end ? Could try a fresh run with the latest riscof (pip install -U riscof) maybe and see if you still see this issue ?

[2021-09-10 15:24] neelgala commented on #16
new docs fix this.. hence closing this.

[2021-09-10 15:24] #16 closed

[2021-09-13 19:37] MarcKarasek opened #22 "Version info either in --help or --version"
Need a way to tell what version of riscof is installed.

This can be implemented either via the --help option or adding a new --version option.

[2021-09-13 19:50] pawks commented on #22
Using the following command prints the version:
[code]

[2021-09-24 10:35] YeuzhiHere opened #23 "Swerv EH1 Core Compliance Test"
I want to do compliance test for Swerv EH1 Core using riscof. But I got following error after installing riscof and running "riscof --help"
![Riscof](https://user-images.githubusercontent.com/58413763/134661089-8b6e24ad-9a4f-42da-b4b5-fa49547622a8.PNG)

Please guide and resolve this issue.

regards

[2021-09-24 10:44] pawks commented on #23
Could you please post the details of the environment you are using and also the output of the `pip list` command.

[2021-09-27 05:28] YeuzhiHere commented on #23
Yeah, I am using Ubuntu 20.04. And output for pip list is;
![riscof1](https://user-images.githubusercontent.com/58413763/134849918-3caf0838-1179-40ba-896a-562d18da935d.PNG)
![riscof2](https://user-images.githubusercontent.com/58413763/134849922-e3c03c50-cc14-42fd-8e27-2efc4fcfc460.PNG)
![riscof3](https://user-images.githubusercontent.com/58413763/134849924-95d38a6f-c846-4c94-93a1-b4c22f96328f.PNG)

[2021-09-27 05:39] pawks commented on #23
Upgrading the version of `click` to the latest should fix your error. Try the following command:
`pip install -U click`

[2021-09-27 06:28] YeuzhiHere commented on #23
Ok

[2021-09-27 06:30] #23 closed

[2021-10-08 06:23] pawks commented on #22
Closing this as this feature is already implemented.

[2021-10-08 06:23] #22 closed

[2021-10-16 14:26] Don-Haugaard opened #25 "SPIKE DUT failing to simulate after following quickstart guide"
Hi,

I have followed your quickstart guide to setup and run RISCOF (version 1.23) with Spike as DUT, but ran into issues as RISCOF fails to compile two tests (riscv-arch-test/riscv-test-suite/rv32i_m/F/src/flw-align-01.S, riscv-arch-test/riscv-test-suite/rv32i_m/F/src/fsw-align-01.S). These tests are put into the generated test list by the suggested "riscof testlist" command. I have installed the

[2021-10-20 16:46] pawks commented on #25
I have never faced the first issue you have mentioned here. I tried to recreate it on my end with a clean environment but I was unsuccessful. Can you please try again with a fresh install and see if the error persists? If you are able to reproduce it, it would be helpful if you can send the `database.yaml`, `test_list.yaml` from the `work` directory and the ISA yaml you used in your plugin. I have

[2021-10-20 16:58] #5 closed

[2021-11-02 17:39] nadiga-ventana opened #27 "riscof run: IndexError: list index out of range - from riscof/framework/test.py"
Getting this error when running RISCOF run for **riscv-test-suite/rv64i_m/I/src/sll-01.S** which has
RVTEST_ISA("RV64i")
[code]
We probably need to make these two regexp case insensitive
[code]

[2021-11-02 19:01] pdonahue-ventana commented on #27
The "ISA Extension Naming Conventions" chapter of the unprivileged spec says: "The ISA naming strings are case insensitive."  So it should be case-insensitive in the python (probably via re.IGNORECASE).

[2021-11-03 09:06] pawks commented on #27
This error in the test has been fixed on the master of `riscv-arch-test`. All the tests so far have the ISA strings in upper case. Should a case insensitive match be allowed? What do you think @neelgala @allenjbaum ?

[2021-11-03 12:00] neelgala commented on #27
well.. when introduced the RVTEST_ISA macro wasn't intended to be compliant with the "ISA Extension Naming Conventions". It's major usecase now is to derive the `march` like arguments for each test. This becomes easy to do if we follow a case sensitive approach, where all standard extensions are upper-case (alphabets A-Z) and the Z extensions are lower-case.

so unless there is real value in forci

[2021-11-28 12:50] Kaucasus opened #29 "Quickstart SPIKE DUT fails with AttributeError: 'Token' object has no attribute 'test'"
When trying to follow the quickstart guide as in: [https://riscof.readthedocs.io/en/stable/installation.html#](https://riscof.readthedocs.io/en/stable/installation.html#) the `riscof run` command at the very end fails.

I've followed the installation step by step on a clean Ubuntu 20.04 LTS install in Windows Subsystem for Linux with the following directories and decisions made with every step suc

[2021-11-28 13:43] neelgala commented on #29
@Kaucasus thanks for reporting this. Can I ask what python version are you using ? Also what version of riscof you are using (riscof --version should do the trick)

@pawks any thoughts ?

[2021-11-28 13:46] Kaucasus commented on #29
The Python version as reported by `Python --version` is 3.6.0 (managed by pyenv), and riscof is `RISC-V Architectural Test Framework., version 1.23.2`

[2021-11-28 14:07] pawks commented on #29
As far as I could trace it out, it seems to be an error due to using `python 3.6.0` and `Jinja 3.0.1`. Please try downgrading `Jinja` to 3.0.0 using `pip install jinja==3.0.0` or upgrade to python `3.6.x`.

Note: If you are using `pyenv` it is better to shift to one of the more recent stable versions of python like `3.7.x` or later.

[2021-11-28 14:38] Kaucasus commented on #29
I updated my python environment via pyenv to target 3.8.10. Installing riscof in that environment works as intended!
(well, technically because I run WSL the browser can't automatically open, but the report.html gets generated, and running with the `--no-browser` flag exists cleanly).

Thank you very much for the quick and speedy resulotion!

[2021-11-28 14:44] neelgala commented on #29
@pawks since riscof is meant for python 3.6 maybe we should freeze Jinja at 3.0.0 in the requirements.txt ?

[2021-11-28 14:51] pawks commented on #29
That would be a short term fix for sure. However, official support for python 3.6 ends in December 2021 and many problems may arise in future when other packages also start causing issues.

[2021-12-09 13:15] owaisfarooq-10x opened #30 "Some arch tests are failing with riscof"
I followed the `riscof` installation quickstart guide and when I ran the tests using the following command some tests passed and others failed

`riscof run --config=config.ini --suite /home/owaisfarooq/riscv-arch-test/riscv-test-suite/rv64i_m --env /home/owaisfarooq/riscv-arch-test/riscv-test-suite/env/`

riscof version: RISC-V Architectural Test Framework., version 1.23.2
python3 version: 3.8.10

[2021-12-09 15:06] neelgala commented on #30
couple of questions:
1. What version of spike and sail are you using? Are they the latest versions?
2. can you share the report.html file here ?

[2021-12-10 04:37] pawks commented on #30
@owaisfarooq-10x I tried to recreate this with the latest version of riscv-toolchain, SPIKE, SAIL and riscof with a fresh install. All the tests pass. Please check the versions of the tools you are using and share the `report.html` file.

[2021-12-10 10:22] owaisfarooq-10x commented on #30
I used the latest version of every tool. I also used the latest sail plugins available at riscof-plugins [repo](https://gitlab.com/incoresemi/riscof-plugins). The [issue](https://gitlab.com/incoresemi/riscof-plugins/-/issues/18) is with riscof-plugins for sail.

[2022-01-06 09:42] Don-Haugaard opened #31 "[Question] How important is CSR configuration?"
Hi,

I am currently applying Riscof on a core compiled with Verilator. I have found inspiration from [https://github.com/riscv-software-src/riscof/issues/10](https://github.com/riscv-software-src/riscof/issues/10), which in general has helped me a lot. Thank you for the extended answer in this issue.

In the above issue it is written "_Currently test selection is only based on the ISA of the core

[2022-01-06 09:50] pawks commented on #31
Currently the tests available in the `arch-test` repository are catered to only the unprivileged ISA(with the exception of a few tests in the `privilege` directory. But these tests only test whether the trapping behaviour in certain scenarios are correct. They are not configurable based on the behaviour of the CSRs). Hence the test selection happens only based on the ISA string. Future test select

[2022-01-06 10:10] Don-Haugaard commented on #31
O.k, I see - thank you!

Before I close this issue, can I ask you if you have any examples of a isa-yaml that contains more than one hart? My current configuration is accepted by the tool, but I would like to compare it against an example.

[2022-01-06 11:04] neelgala commented on #31
an example would be something like below. We have 3 harts with hart-ids : 0, 1, 2. hart-0 is RV64, hart-1 is RV32 and hart-2 is the exact same config of hart-0.
[code]

[2022-01-06 11:12] Don-Haugaard commented on #31
Thank you very much!

[2022-01-06 11:12] #31 closed

[2022-01-06 11:16] neelgala commented on #31
@Don-Haugaard  btw..once you manage to port your DUT on riscof and if those riscof files are in public-domain.. I would request you to populate the PLUGINS.rst file in this repo with your link ?

[2022-01-18 12:26] anonymousr007 commented on #13
Hello @pawks, I am Rishabh, an undergraduate student in computer science in India. Can you elaborate a little bit more? I would like to make a pull request for this issue 😄

[2022-01-18 12:59] pawks commented on #13
The configuration for the hart is taken from the config yaml supplied by the plugins in the riscv-config format. The format supports configurations for multiple cores(harts) like in the example [here](https://github.com/riscv-software-src/riscof/issues/31#issuecomment-1006481828). Currently it is assumed that the hart being tested is `hart0`. This feature would allow the hard id to be specified fr

[2022-02-23 14:48] nadiga-ventana opened #35 "Mechanism needed to append to test RVTEST_ISA string"
All riscv tests have RVTEST_ISA macro fro which the isa string is extracted to be passed as -march option to the compiler.
The rv64i_m/C/src/cebreak-01.S has RVTEST_ISA("RV64IC")
but it also defines rvtest_mtrap_routine which includes CSRRW instruction. Our new compiler (riscv64-unknown-elf-gcc) needs the -march option to have Zicsr to recognize these csrrw instructions.
Is there a way to append t

[2022-02-23 16:07] pawks commented on #35
You will need to add `_Zicsr` in the argument to `RVTEST_ISA` for all the tests which need this extension. You will also need to modify the plugin to include the extension in the output `march` argument if it is present in the string.

[2022-02-23 18:18] allenjbaum commented on #35
I had the same thought. The tests have no visibility as to whether any of the RVMODEL_* macros use CSRs or not - not just RVMODEL_BOOT. It wouldn't be surprising if RVMODEL_HALT did, for example.
Therefore we either need to have all tests default to Zicsr, or require the vendors to explicitly set it ...somewhere... if they use CSRs in their support macros. Their config YAML should have this inform

[2022-02-23 19:25] pdonahue-ventana commented on #35
I agree that the -march string should be based on the config YAML instead of RVTEST_ISA.  RVTEST_ISA should only affect whether or not the test runs at all.  The full list of extensions listed in the YAML ought to be available to RVMODEL_* macros so somebody can, for instance, initialize whatever state they need to initialize even if that state uses extensions that are outside of the minimal set u

[2022-02-23 19:38] pawks commented on #35
The objective of the `RVTEST_ISA` macro is to convey the minimal list of extensions needed for the test to be compiled. This is to serve as a hint for the plugins to derive the `march` string. If any extra extensions are needed for any of the `RV_MODEL*` macros, the plugin is free to add them to the `march` string(care should be taken that any conflicting extensions are not included, as far as the

[2022-02-23 22:24] allenjbaum commented on #35
OK, then we just need to document very clearly (but mostly very
prominently) somewhere that
Zicsr must be added to the march string (if not already added ) if
RVMODEL_ macros have any CSR reads or writes.
I'm sure we will get people filing issues because they missed that bit of
information.

On Wed, Feb 23, 2022 at 11:38 AM S Pawan Kumar ***@***.***>
wrote:

[2022-02-25 10:11] jurevreca12 opened #37 "Misaligned tests failing"
Hello everyone,
I am trying to build a simple risc-v processor that implements the RV32IZicsr instruction set (and only M mode). I integrated the riscof framework for testing purposes, and discovered that the unprivileged instructions are all passing the tests, but many misaligned tests are failing. Specifically:
_lb-align-01.S, lbu-align-01.S, lh-align-01.S, lhu-align-01.S, lw-align-01.S, sb-alig

[2022-02-25 12:17] pawks commented on #37
@jurevreca12

When you say _fail_ , I assume that the signatures generated by your model and the reference models do not match.

- _lb-align-01.S, lbu-align-01.S, lh-align-01.S, lhu-align-01.S, lw-align-01.S, sb-align-01.S, sh-align-01.S_ - These tests perform memory operations to aligned memory addresses only and I see no reason for them to fail just because misaligned memory accesses are support

[2022-02-25 12:53] jurevreca12 commented on #37
Thank you very much for the quick answer @pawks . I guess I made an over generalized assumption about these tests.

- I will look into my design to see why _lb-align-01.S, lh-align-01.S, lw-align-01.S..._ are failing.
- With regards to the tests _misalign-beq-01.S, misalign-bge-01.S..._. Are you claiming that if there is code that branches or jumps to an misaligned address, that the processor MUST

[2022-02-25 13:34] pawks commented on #37
Yes, according to the spec, the processor must support it and the tests work on that assumption that an exception will be raised and execution is redirected to the trap handling routine.

The tests will be chosen and run, however the functionality in the reference model to support this behaviour is missing. Hence the signatures from the model and DUT will not match. It is a known scenario and it's

[2022-02-27 14:46] jurevreca12 commented on #37
I've managed to fix the problem my processor had with instructions: _sb-align-01.S, lbu-align-01.S, lh-align-01.S, lhu-align-01.S, lw-align-01.S, sb-align-01.S, sh-align-01.S_.  Thank you again for the help @pawks .

But now I am trying to wrap my head around the misaligned instruction jumps/branches, and I just can't make sense of it.  Lets say I encounter a jump to an instruction that is at addr

[2022-02-27 14:51] pawks commented on #37
You need not have an exception handler implemented in hardware. All the core needs to do is raise an exception when the target address is 2 byte aligned and jump to the address pointed to by `mtvec`. It is the responsibility of the trap handler in software to handle it correctly and return to normal execution flow.

[2022-02-27 15:28] jurevreca12 commented on #37
My concern is with the actual implementation of the trap handler. I've looked at the Zephyr and FreeRTOS trap handlers:
- https://github.com/sifive/riscv-zephyr/blob/master/arch/riscv32/core/isr.S and
- https://github.com/FreeRTOS/FreeRTOS-Kernel/blob/main/portable/GCC/RISC-V/portASM.S

Neither of them seems to handle the instruction address misaligned exception. This is why I am having trouble un

[2022-02-28 05:59] neelgala commented on #37
@jurevreca12 I believe it would be best to pose the questions regarding Zephyr/FreeRTOS to those respective repos/projects.
A general purpose solution to handling instruction-misaligned can be very tricky. After loading bytes 6,7 (from your example) you will need to check if it points to a compressed instruction (probing the lower 2 bits) or not, only then decide to load the remaining bytes. Now e

[2022-02-28 20:02] aignacio opened #38 "Weird behaviour while running riscof run"
Hey,

I'm trying to run the **riscof** with my design but what I'm observing is that sometimes the tool does not *wait* for my simulation to run/end or either it doesn't compile the test program, thus it calls the simulator with an inexistent my.elf file. Then if I enter in the folder and run the target manually, it compiles and run the test program as expected generating the proper signature. Thi

[2022-03-01 13:15] jurevreca12 commented on #37
Thanks for the answer @neelgala . I do however believe this could be a problem with the riscof testing framework.
I have found some additional information regarding this question. In section 2.2 the Risc-v spec says:

_In the base RV32I ISA, there are four core instruction formats (R/I/S/U), as shown in Figure 2.2.
All are a fixed 32 bits in length and **must be aligned on a four-byte boundary in

[2022-03-01 13:27] pawks commented on #38
Hi @aignacio , The warning messages regarding the redefinition of macros you see aren't a problem. They are just warnings thrown by the compiler due to the `TEST_CASE_1` macro being defined in the environment files of the tests. This was done to ensure that the tests can run on the older framework. As for the early exit of the simulator, the execution of the tests is controlled by the plugins. You

[2022-03-01 13:34] pawks commented on #37
If you look at the way the effective addresses are calculated, there is a possibility that a 2-byte aligned target address can be generated. A correctly written and compiled software will never generate these scenarios, however the spec(Section 2.5) is clear on the behaviour if such a case occurs. The core needs to recognise this as a misaligned instruction exception and trap.

[2022-03-01 13:37] jurevreca12 commented on #37
Yes, I agree. But as this would then be a incorrect instruction, there is no way of knowing how to handle this in the trap, right? hence it should be a fatal trap?

[2022-03-01 14:17] neelgala commented on #37
@jurevreca12 all misaligned tests fall under the [privilege test suite ](https://github.com/riscv-non-isa/riscv-arch-test/tree/master/riscv-test-suite/rv32i_m/privilege/src) because they test the csrs and privilege spec not the unprivilege spec that you have quoted. The signatures generated will be different for cores with compressed support and those without.  Anyhow, those tests will be run on b

[2022-03-01 14:22] jurevreca12 commented on #37
@neelgala I see. Yes that makes more sense. However, that would entail, that for my configuration (no C extension support), that the unaligned jump would cause an exception, from which it could not recover, since the code violates the 4-byte memory alignment constraints. Practically, speaking, the simulation should end in an infinite loop in the trap handler, meaning that the signatures would be m

[2022-03-01 14:31] neelgala commented on #37
the trap handler in the test will not endlessly loop it will simply jump to the next reasonable aligned instructin - note these are not random tests they have been architected along with the trap-handler and thus the test will exit gracefully in either case. You can run these on spike/sail without enabling compressed and have a look at thie behavior.

[2022-03-01 14:34] jurevreca12 commented on #37
Oh. I see. I understand now. Thank you for the answer.

[2022-03-03 10:02] #37 closed

[2022-03-04 12:23] pawks opened #39 "Arch-test Clone optimisations."
- Shallow clones can be used while cloning the `arch-test` repo as the history and other branches are irrelevant for running the tests.
- Update link to `arch-test` repo.

[2022-03-04 12:31] neelgala commented on #39
need to do the equivalent of `git clone --depth 1 --branch riscof-dev https://github.com/riscv-non-isa/riscv-arch-test.git` within riscof

[2022-03-05 13:52] aignacio commented on #38
Hey @pawks,

you're right, just changed the timeout and started working as expected, had to increase to 10000. Thanks for the help!, is there a way to add waivers to the run? like in the case where your design doesn't support compressed but you want to have the output of the run without any errors?

[2022-03-06 11:45] pawks commented on #38
The `isa.yaml` of your model specifies the configuration and riscof filters the tests to run based on the same information. A detailed specification of all the fields in the yaml can be found [here](https://riscv-config.readthedocs.io/en/latest/yaml-specs.html#isa-yaml-spec). In your case, the `isa` node in the yaml should not contain the `C` letter.

[2022-03-07 08:35] aignacio commented on #38
Hey @pawks,
I understand that aspect you mentioned but if the RV core cannot handle compressed extension, there're some base I tests that will fail anyway, I'd like to find a way to withdrawn or mask these errors off to have full clean output run, for instance take a look in the image here, if I'm not wrong, designs that cannot support C, must fail according to the description [here](https://githu

[2022-03-08 04:13] pawks commented on #38
That disclaimer is only applicable to the references uploaded in the `arch-test` repository. If the C extension is not implemented, the reference model is also run without the C extension. Hence, disclaimers 2&3 aren't applicable while running with riscof. Eventually the reference model will also support misaligned load-stores natively and those test failures will go away. There is no way of filte

[2022-03-08 19:15] aignacio commented on #38
Hey @pawks,

if you take a look at my core cfg, there's no mention to the C extension so I was expecting to see failures while running with RISCOF as the sail c emulator should not have these ones.
[code]
Also, correct me if I'm wrong but according to the QuickStart tutorial, you still use the tests in the `arch-test` (there's also a typo in the image if you run this cmd) so why the disclaimers wo

[2022-03-09 03:02] pawks commented on #38
The tests which require the trap handler are run only if the `Zicsr` extension is present in the `isa` string. If you look at the test list generated for the model, you will find that most of the tests mentioned under point 2 of the disclaimer are missing. You can add the extension to run those tests. However, those tests will still pass on your model while using `riscof`.

In the old framework(th

[2022-03-11 11:17] aignacio commented on #38
Thanks @pawks, it seems clear now. Is there a plan for the Sail C-emulator to support misaligned loads & stores? or in this case it'd be better to use Spike as the reference for signature comparison? (not sure if Spike supports misaligned l/s)

[2022-03-11 11:52] pawks commented on #38
To my knowledge, SAIL should eventually have support for misaligned memory operations. I think the respective repositories are a better place for more clarifications on that front.

[2022-03-11 12:27] #38 closed

[2022-03-11 14:18] aignacio commented on #38
Just for reference, to enable misaligned support in the SAIL RISC-V simulator, we need to add the `--enable-misaligned` switch to the `riscof_sail_cSim.py`, like this:

[code]

[2022-03-13 12:56] lwshowl opened #40 "how to use riscof with verilator"
I have read the custom plugins of the document
but still not figure out how to use riscof with verilator
where verilator does not takes binary files

should i create a custom riscof Makefile and modify the run command ?
i also haven't figured out where to create the makefile >_>

sorry for being dumb

[2022-03-13 13:13] pawks commented on #40
@lwshowl I assume you have a mechanism of loading the program onto your DUT at runtime and that you use the gnu toolchain to compile the tests.  In such a scenario, you will have verilated the model and compiled it into a C binary before running riscof. In the plugin for your DUT you will have to modify line 46 from [here](https://riscof.readthedocs.io/en/stable/plugins.html#makefile-flow-recommen

[2022-03-14 04:54] lwshowl commented on #40
@pawks thanks for the detailed explanation
i think i have got the trick

[2022-03-14 08:37] lwshowl commented on #40
@pawks another question here , since the execution environment is occupied by the test program , how can i make a memory dump and make use of the defined macros ?
is the .tohost section in the linker script reserved for the host to dump memory ?

[2022-03-14 09:02] pawks commented on #40
The DUT specific macros can be defined by you in a header file named `riscv_model.h` and it gets included in the tests during compilation. The linker script should also be defined by you. Only the sections being defined in the test are reserved. You can declare any additional sections you need as necessary and include them appropriately. At the start of the test, the code under RVMODEL_BOOT is exe

[2022-03-18 14:56] aignacio opened #41 "Change the reference model to one that supports misaligned lw/sw"
Hey guys,

thanks for nice work with RISCOF framework!, I'd like ask you if there's a way to use spike isa-sim or another RV simulator as a reference model that supports misaligned lw/sw.  I discovered recently that there's a way to enable misaligned support on Sail RISC-V C-simulator but the problem is that it seems to not be fully working as per ticket down below. If there's an alternative for i

[2022-03-18 15:05] neelgala commented on #41
in the config.ini you can use [spike_parallel](https://gitlab.com/incoresemi/riscof-plugins/-/tree/master/spike_parallel) as the reference plugin and it should generate the reference signatures. Let me know if that fails.

[2022-03-18 15:09] pawks commented on #41
You will also have to modify [this](https://gitlab.com/incoresemi/riscof-plugins/-/blob/master/spike_parallel/riscof_spike_parallel.py#L129) line to add the necessary argument which enables hw misaligned accesses.

[2022-03-18 15:14] aignacio commented on #41
Thanks @neelgala and @pawks,

@pawks you mean adding [`--enable-misaligned`](https://github.com/riscv-software-src/riscv-isa-sim/blob/c6ec6f3582eb2ae106dff95e569b7da927910629/riscv/riscv.ac#L57) to the line you mentioned?

[2022-03-18 15:15] pawks commented on #41
Yes.

[2022-03-18 15:19] neelgala commented on #41
I think you will need to re-build spike while configuring with `--enable-misaligned`. I don't see a cli arg to enable misaligned.

[2022-03-18 16:13] aignacio commented on #41
What are the required parameters for using `spike_parallel`?
![image](https://user-images.githubusercontent.com/5991372/159040671-9a7bb289-b53f-4a17-8c94-ec61a4d203a0.png)

[2022-03-18 16:22] neelgala commented on #41
you may need to specify ispec and psec which could just be copied from lines 11 and 12 - they will not be ignored by spike when cofigured as reference model.

[2022-03-19 03:59] pawks commented on #41
The `00` you see at the start of the line is infact the last byte of the store from the previous word. Let us consider the instruction `80000138`, it is a `sw` instruction with the address `80002216`. So it should modify bytes `80002216 through 8000221b`, which is infact the 2 bytes to the left on line 3. This particular store can also be looked at as a sequence of instructions which generate the

[2022-03-19 15:45] aignacio commented on #41
Hey @pawks,

thanks for the answer, I was indeed concluding the same yesterday. It took me some time to realize that because it sounds a bit strange this behaviour, even more when you consider standard protocols such as the ones in the AMBA family where the size of the transfer needs to be aligned with the address. Anyway, it is what it is, thanks again for the help.

[2022-03-19 15:45] #41 closed

[2022-04-06 08:44] pawks opened #43 "Update versions of dependency packages."
The following dependencies cause issues while installing/running riscof.
- `3.1.17` of `GitPython` has been yanked from PyPi. Support for python 3.6 has been dropped in the latest release.
- python `3.6.0` and Jinja `3.0.1` are incompatible with each other. A solution is to hardcode Jinja version to `3.0.0` or conditionally pick up `3.0.0` as a part of setup. The latter is preferred.

[2022-04-06 08:46] #29 closed

[2022-04-06 08:47] pawks commented on #29
Tracking the issue in #43

[2022-06-13 21:41] davidharrishmc opened #47 "Typo in installation instructions"
In the installation instructions, rename "arch-tests" to "arch-test".

$ riscof --verbose info arch-tests --clone

[2022-06-14 07:32] pawks commented on #47
This has been fixed on [this](https://github.com/riscv-software-src/riscof/blob/doc-dependency-fix/docs/source/arch-tests.rst#cloning-the-riscv-arch-test-repo) branch and will soon be merged into master.

[2022-06-22 11:44] kevinlastra opened #48 "Issue with command in documentation"
Please be aware that the following command in the Quickstart is wrong :
riscof --verbose info arch-tests --clone
It should be replace by :
riscof --verbose info arch-test --clone
Best regards

[2022-06-22 13:13] pawks commented on #48
Fixed.

[2022-06-22 13:13] #48 closed

[2022-06-22 13:13] #47 closed

[2022-06-26 16:01] jeras opened #49 "Error in Quickstart"
In Quickstart section 3.7 there is CLI:
[code]
When executed it returns an error:
[code]

[2022-06-26 16:39] jeras opened #51 "absolute paths in generated `config.ini`"
The generated config.ini contains absolute paths, there are two issues with this:
1. The file is not portable to a different folder without changing the paths from absolute to relative,
2. If the wile is committed to a public repo, some private information about the developer could be exposed (username).

[2022-06-26 19:18] jeras commented on #51
After further reading I noticed:
https://riscof.readthedocs.io/en/stable/inputs.html#file-path-specification
The option 2 can cause confusion, for example, when both paths from 2 and 3 exist.
I would argue option 3 should have a higher priority.

[2022-06-28 07:24] jeras commented on #51
I now noticed:
**Hint: All paths provided by riscof are absolute and it is advised to always use absolute paths while executing/generating commands to avoid errors.**

Please provide an explanation for the use of absolute paths, this is contrary to expectations of experienced developers and therefore requires proper arguments.

[2022-06-28 07:31] jeras opened #52 "Documentation: inconsistent use of "isa and platform yamls" vs. "ISA and Platform yamls""
I am going through the entire documentation preparing spelling, grammar, consistency fixes.
This are all small/trivial/cosmetic changes.

What would be the preferred capitalization of the phrase in the issue title? I encountered both versions.

[2022-06-28 07:47] jeras opened #53 "Documentation: inconsistent handling of `config.ini` variable `target_run`"
The documentation in for `target_run` uses inconsistent formatting for the 0 and 1 values.
https://github.com/riscv-software-src/riscof/blame/master/docs/source/plugins.rst#L206-L211

Further from the Python code it is unclear whether this is supposed to be a string or an integer.
But this might just be my lack of understanding of how `ini` files are handled in Python.
https://github.com/riscv-sof

[2022-06-28 07:53] pawks commented on #53
In the `ini` files, all values are interpreted as strings while parsing. To compare them as integers in the python code they will need to be converted before use.

[2022-06-28 07:54] pawks commented on #52
Using consistent capitalization would certainly be preferable.

[2022-06-28 07:55] jeras commented on #52
OK, I will use the capitalized version "ISA and Platform yamls" in my documentation pull request.

[2022-06-28 07:55] #52 closed

[2022-06-28 07:57] jeras commented on #53
Thanks, I know how to handle this in the documentation change now.

[2022-06-28 07:59] pawks commented on #51
The intermediate files(such as database and test lists) are architected in a way that they can be manipulated/consumed by other programs as needed. A riscof run consists of 4 different phases - config check, database generation, testlist generation and test run on models. Each of the individual phases can be run independently and the generated outputs can be used as inputs to the next phase(after

[2022-06-28 12:05] pawks commented on #51
Yes. It also includes the paths in the database files and testlists generated.

I can see why this would add value. This can be added as an optional feature enabled by a boolean switch in the cli.

The paths under the `RISCOF` node are for use inside riscof and are not available to the plugins themselves by default. Any values which need to be passed to the plugins should be passed via these nodes

[2022-07-25 23:16] davidharrishmc opened #55 "Missing arguments in documentation"
The testlist docs suggest using the command

riscof testlist --config=config.ini

https://riscof.readthedocs.io/en/stable/testlist.html

However, --suite and --env are now required arguments as well.  The example should be updated to match.

$ riscof testlist --help
    INFO | ****** RISCOF: RISC-V Architectural Test Framework 1.24.1 *******
    INFO | using riscv_isac version : 0.11.0
    INFO |

[2022-07-28 04:45] davidharrishmc opened #56 "Document timeout option"
It would be helpful to add the timeout option to section 4.7.  I couldn't find it elsewhere in the docs, and I was getting a timeout error compiling on a slower server.  It showed up in a Google search.

[2022-08-24 13:00] ptprasanna opened #58 "flen has to be added inline to the coverage command string, that riscof build through the sail plugin"
https://github.com/riscv-software-src/riscof/blob/66bb6c468afaa3775ab5a757459a560ceaa5ee8c/riscof/Templates/setup/sail_cSim/riscof_sail_cSim.py#L116

Currently there isn't any support in riscof to feed in the flen to isac. Something similar as below would fix the issue.

[code]
But again the question is from do we get this flen in riscof, from config file is one option we may consider.

[2022-08-25 09:58] ptprasanna commented on #58
Found a new fix for this where we pass the value from `test.py` where we already compute `flen`. replacing `self.xlen` with below would fix the issue `list(testList.values())[0]['macros'][2].split("=")[1]`

[2022-08-25 09:58] ptprasanna commented on #58
[code]

[2022-08-26 04:45] ptprasanna commented on #58
Discussion Points on the ACT SIG (25 Aug 2022): This has to update in this template, @pawks agreed to make this change. Until then please use [this](https://gitlab.com/incoresemi/riscof-plugins/-/blob/fd-updates-sail-spike/sail_cSim/riscof_sail_cSim.py).

@allenjbaum @pawks feel free to add if i have missed any

[2022-09-08 08:55] ptprasanna opened #62 "D extension must have F and D as part of ISA string"
https://github.com/riscv-software-src/riscof/blob/a003752ff95dd5f9153c323dc2eb8ff7a0426dd9/riscof/framework/main.py#L132

As per the spec "The D extension depends on the base single-precision instruction subset F", which requires both F and D to be passed as part of the ISA string in-order to execute the double precision tests. So when we run a case with `flen = 64`, the current code always passed

[2022-09-08 09:01] neelgala commented on #62
the `elif` should just be an `if`. please raise a PR with the fix.

[2022-09-08 11:39] ptprasanna commented on #62
@neelgala It's done [here](https://github.com/riscv-software-src/riscof/pull/63).

[2022-09-12 04:35] ptprasanna commented on #62
This is fixed with this [merge](https://github.com/riscv-software-src/riscof/pull/63).

[2022-09-12 04:35] #62 closed

[2022-09-21 14:07] marcfedorow opened #64 "Raises do not raise"
https://github.com/riscv-software-src/riscof/blob/b86c5079e4f46ca53258cf2cf438b5308f534cb7/riscof/Templates/setup/model/riscof_model.py#L183

This place (and some more) calls raise that calls exit.
Exit exits before raise raises.
This is very strange construction to me, especially raise on success.
What are intentions of it?

[2022-09-21 14:14] pawks commented on #64
Exit exits before raise raises.

The "raise" doesn't really call a "SystemExit" in the typical sense you are referring to here. Here the `SystemExit(0)` is actually creating an object of type "SystemExit" with `0` being the exit code. `raise` is the keyword used to raise exceptions in python explicitly. It offers a graceful way of exiting the program while offering the caller function the alternat

[2022-09-21 14:44] marcfedorow commented on #64
Why not just `sys.exit(0)` or `exit(0)`?
Raise on success is counterintuitive.
In lines like this
https://github.com/riscv-software-src/riscof/blob/b86c5079e4f46ca53258cf2cf438b5308f534cb7/riscof/Templates/setup/model/riscof_model.py#L33
it could be more convenient to use something like
[code]
than print an error to stdout and then just exit with a non-zero exit code.

[2022-09-22 04:21] pawks commented on #64
The raise on success should definitely be removed as the plugins should not be terminating the execution on success.

Currently riscof does not have any custom exceptions defined for the plugins to use. It can definitely be added to allow for graceful termination.

[2022-10-12 09:13] marcfedorow opened #67 "Input ISA string does not match accepted canonical ordering"
I get this message in several situations where IMO my ISA string should be accepted.
Some examples:
RV32IMCZicsr_Zifencei_Zba_Zbb_Zbc_Zbs_Zkn_Zks_Zkt_Xfoo (Xfoo not recognized)
RV32IMCNZicsr_Zifencei (says U must be with N, RV32IMCNUZicsr_Zifencei is accepted but there is no requirement to place U in the ISA string AFAIK)
RV32IMC_Zicsr_Zifencei
rv32imczicsr_zifencei

So the ISA-string parsing does

[2022-10-12 09:41] neelgala commented on #67
Riscof now uses "riscv-config" internally for the isa string validation so these issues might be best tracked there. Basically all ISA strings to be used by RISCOF must be riscv-config compatible.

riscv-config doesn't support defining X extensions as of today (and I am guessing out-of-the-box GCC doesn't either - do correct me if I am mistaken). But I aprreciate the need for it.. and we will need

[2022-10-12 10:36] marcfedorow commented on #67
GCC just skips [szx]-sub-extensions if it does not know what is it.
I thins riscof should do the same

[2022-10-12 10:45] marcfedorow commented on #67
GCC says:
`riscv64-unknown-elf-gcc: error: '-march=rv64iu': unsupported ISA subset 'u'`
If this format is not actually an ISA string but a riscv-config-string, I would love to have some documentation accessible on error because the simple reading of RISCV ISA spec gives no actual clues about what is not accepted in the actually canonical ordered string

[2022-10-12 10:57] pawks commented on #67
Chapter 28 of the RISC-V ISA spec describes a majority of the rules for canonical ISA strings. Some of the others available in the chapters for the respective extensions(like `F` is required for `D` to be present and so on).

[2022-10-13 09:25] marcfedorow commented on #67
This is exactly what I am claiming false.
For example, F is not required if D is presented in the RISC-V ISA spec compatible ISA-string.
On the contrary, D implies F.
E.g. spec treats G as "IMADZifencei" (no F in this string!).
riscof treats "implies" as "requires" though (which makes this check incompatible with spec 2.0).

Without a proper stand-alone documentation of what strings are actually a

[2022-10-13 10:05] neelgala commented on #67
riscv-config restricts the ISA string to be in its fully-elaborated form, no "implications" will be infered (I agree this should be documented in the riscv-config docs and we will raise a PR for the same) - this choice doesn't make it incompatible with the spec. This was primarily chosen by riscv-config because of its major initial use-cases : compliance and testing.

We don't expect riscv-config

[2022-10-13 10:30] marcfedorow commented on #67
That's not true for [this edition](https://people.eecs.berkeley.edu/~krste/papers/riscv-spec-2.0.pdf) of spec.
Requiring Zicsr for F makes this strictly non-backward compatible.

They still comply with RISC-V ISA spec.
Also, we should agree that most of strings that are accepted by GCC and/or riscv-isa-sim (spike) must be accepted by any other RISC-V ISA string parser that is assumed to be publicl

[2022-10-13 10:33] marcfedorow commented on #67
Finally it could be nice if the legal ISA string would not cause an error "fix this" but emit another legal ISA string which is accepted by riscof.

[2022-10-13 11:33] neelgala commented on #67
This is probably a very specific issue you have pointed out - where the checks should be enabled based on the priv and unpriv versions. I would suggest filing this as a separate issue on riscv-config. If you could indicate which version the dependency was introduced.. that would be great too.

I am going to have to disagree here - purely because the use-cases are completely different. And moreover

[2022-10-13 11:33] neelgala commented on #67
That sounds a good suggestion - would you mind filing it as a separate issue on riscv-config ?